@charset "utf-8";
body,ul,li,h2,h1,nav,p,figure,table,th,tr,td,embed{
	margin:0px;
	padding:0px;
	list-style:outside none none;
}
*{
	font-family: "微软雅黑";
}
ul{
	list-style: outside none none;
}
a{
	text-decoration: none;
	color: black;
}
#top1{
	width: 100%;
	height:70px;
	background: #000;
}
#top1 .center{
	width:1263px;
	height:70px;
	margin:0px auto;
}
#top1 .logo{
	float:left;
}
#top1 img:hover{
	transform:scale(0.95,0.95);
}
#top1 ul{
	width:520px;
	height:70px;
	float:left;
}
#top1 li{
	width:125px;
	line-height: 70px;
	display: inline-block;
	text-align: center;
}
#top1 a{
	color: #FFF;
	display: block;
}
#top1 .search{
	float:right;
	position: relative;
}
#top1 .text{
	width:250px;
	position: absolute;
	top:25px;
	right:25px; 
}
#top1 .button{
   	width:50px;
   	height:23px;
   	position: absolute;
   	top:25px;
   	right:0px;
}
#top2{
	width:100%;
	height:40px;
	background: #008000;
}
#top2 .nav{
	width:1263px;
	margin:0 auto;
}
#top2 ul{
	color:#fff;
}
#top2 li{
	width: 110px;
	line-height:40px;
	display:inline-block;
	text-align: center;
}
#top2 a{
	display: block;
	color:#fff;
}
#footer{
	width:100%;
	height:130px;	
	margin-top:20px;
}
#footer .main{
	clear: both;
	width:1263px;
	height: 130px;
	margin:0 auto;
	background: #eee;
	/*display: inline-block;*/
}
#footer .left{
	width:300px;
	height:130px;	
	text-align: center;
	float: left;
}
#footer .left h2{
	font-size: 18px;
	margin:10px 0 10px 0;
	line-height: 20px;
}
#footer .left li{
	font-size:15px;
	margin:10px 0 10px 0;
	line-height: 20px;
}
#footer .center{
	margin:0 30px 0 30px;
	width:300px;
	height:130px;	
	float: left;	
}
#footer .center h2{
	font-size: 18px;
	margin:10px 0 10px 0;
	line-height: 20px;
}
#footer .center li{
	margin:10px 0 10px 0;
	line-height: 20px;
}
#footer .right{
	width:600px;
	height:130px;
	/*margin-top:80px;*/
	float: left;	
}
#footer .right1{
	margin-top:80px;
}
#footer .right h3{
	font-size:15px;
	line-height: 30px;
}